@import '../../../service/styles/mixins';

.formArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.form {
  display: grid;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;
  grid-template-rows: repeat(3, auto);
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  grid-template-columns: repeat(2, 50%);
  grid-row-gap: 4px;

  .formArea.lg & {
    display: block;
    padding-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
    @include oneLineEllipsis;
  }

  & > div {
    padding-right: var(--page-padding);
    padding-left: var(--page-padding);

    .formArea.lg & {
      margin-bottom: 16px;
    }
  }
}

.inputError,
.formErrorMessage {
  font-weight: 600;
  color: var(--text-invalid);
  word-break: break-word;

  @include hyphenate;
}

.inputError {
  margin-top: 4px;
}

.formError {
  grid-column: 1 / span 2;

  &Message {
    margin-bottom: 15px;
  }
}

.dateTime {
  display: grid;
  grid:
    'date time' auto
    'date timeErrors' auto
    / auto min-content;

  .formArea.lg & {
    display: block;
  }

  .date {
    grid-area: date;
    min-width: 0;
    margin-right: 16px;

    .formArea.lg & {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .timeContainer {
    grid-area: time;
    display: flex;
    align-items: flex-start;

    .formArea.lg & {
      flex-wrap: wrap;
    }

    & > span {
      position: relative;
      top: 30px;
      margin-right: 4px;
      margin-left: 4px;
      font-weight: 700;

      .formArea.lg & {
        top: 16px;
      }
    }
  }

  .time {
    width: 72px;

    .formArea.lg & {
      flex-grow: 1;
    }
  }

  .timeErrors {
    grid-area: timeErrors;
    margin-top: 4px;
  }
}

.users,
.room {
  padding-top: 16px;

  .formArea.lg & {
    border-top: 8px solid var(--border);
  }
}
