# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/server/__snapshots__

# production
/build/
/dist/

#assets
server/assets/avatars/

# misc
.DS_Store
.env
.env.*
!.env.example
*.sqlite3

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea
