# dependencies
/node_modules
/flow-typed

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sqlite3
npm-debug.log*
/.idea
