{
  "{src,server}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "{src,server}/**/*.css": [
    "prettier --write",
    "stylelint",
    "git add"
  ],
  "public/**/*.html": [
    "prettier --write",
    "stylelint",
    "git add"
  ]
}
