{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "semi": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "printWidth": 200
      }
    }
  ]
}
