@import "../../../utils/mixins";

.selectOption {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 16px;
  cursor: pointer;
  user-select: none;
  background-color: var(--bg-primary);

  &.focused {
    font-weight: 600;
    background-color: var(--bg-secondary);
  }

  .iconContainer {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .optionText {
    flex-grow: 1;
    @include oneLineEllipsis;
  }

  .bullet {
    font-size: var(--xs-text);
  }

  .homeFloor {
    color: var(--text-secondary);
  }
}
