.formArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: grid;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;

  grid-template-rows: auto auto;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4px;

  .formArea.lg & {
    display: block;
    padding-bottom: 24px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & > div {
    padding-right: 16px;
    padding-left: 16px;

    .formArea.lg & {
      margin-bottom: 16px;
    }
  }
}

.inputError {
  margin-top: 4px;
  font-weight: 600;
  color: var(--text-invalid);
  word-break: break-word;
}

.dateTime {
  display: grid;
  grid:
    "date time" auto
    "date timeErrors" auto
    / auto max-content;

  .formArea.lg & {
    display: block;
  }

  .date {
    grid-area: date;
    margin-right: 16px;

    .formArea.lg & {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .timeContainer {
    grid-area: time;
    display: flex;
    align-items: flex-start;

    .formArea.lg & {
      flex-wrap: wrap;
    }

    & > span {
      position: relative;
      top: 30px;
      margin-right: 4px;
      margin-left: 4px;
      font-weight: 700;

      .formArea.lg & {
        top: 16px;
      }
    }
  }

  .time {
    width: 72px;

    .formArea.lg & {
      flex-grow: 1;
    }
  }

  .timeErrors {
    grid-area: timeErrors;
    margin-top: 4px;
  }
}

.users,
.room {
  padding-top: 20px;

  .formArea.lg & {
    border-top: 8px solid var(--border);
  }
}

.actions {
  z-index: 1;
  display: flex;
  flex-basis: 76px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border);
}

.action:not(:last-of-type) {
  margin-right: 16px;
}
