@mixin timeStrip($color) {
  position: absolute;
  top: 100%;
  left: var(--left-correction);
  display: block;
  height: calc(100vh - 72px - var(--height-correction));
  content: "";
  border-right: 1px solid $color;
}

%timeBadge {
  position: absolute;
  font-size: var(--small-text);
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.hoursLine {
  position: relative;
  display: flex;
  height: 100%;
}

.currentTime {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);

  &::before {
    --left-correction: 0;
    --height-correction: 23px;
    @include timeStrip(var(--primary-1));
  }
}

.currentTimeBadge {
  @extend %timeBadge;
  padding: 4px 8px;
  line-height: 1.2;
  color: var(--text-inverted);
  background-color: var(--primary-1);
  border-radius: 10px;
}

.hour {
  position: relative;
  flex: 1;
  text-align: center;

  &::before {
    --left-correction: 50%;
    --height-correction: 46px;
    @include timeStrip(rgba(19, 100, 205, 0.1));
  }

  &.overpast {
    color: var(--text-secondary);
  }
}

.hourBadge {
  @extend %timeBadge;
  top: 50%;
  left: 50%;
}
