.actions {
  position: sticky;
  bottom: 0;
  z-index: var(--form-buttons-z);
  display: flex;
  flex-basis: 76px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
  padding-left: 16px;
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border);
}

.action + .action {
  margin-left: 16px;
}

.formButton {
  flex-grow: 1;
}

.removeEvent {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-top: 8px solid var(--border);
  border-bottom: 8px solid var(--border);
}
