.removeButton {
  flex-shrink: 0;
  background-color: transparent;

  svg path:nth-child(2) {
    transition: fill 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover svg path:nth-child(2) {
    fill: var(--text-primary);
  }
}
