.timepicker {
  position: static;
  display: block;
  border: 2px solid var(--border);
  border-radius: 4px;

  &:focus-within {
    border-color: var(--border-1);
  }

  [class$="__wrapper"] {
    display: block;
    border: none;
  }

  [class$="__inputGroup"] {
    min-width: 100%;
    height: 34px;
    padding: 0 10px;
    font-size: var(--default-text);
  }

  input {
    &:focus {
      outline: none;
    }
    &:invalid {
      background-color: transparent;
    }
    &::placeholder {
      color: transparent;
    }
  }

  &.lg {
    [class$="__inputGroup"] {
      height: 40px;
      font-size: var(--medium-text);
    }
  }

  &.error {
    border-color: var(--text-invalid);
  }
}
