.timePicker {
  box-sizing: content-box;
  display: flex;
  align-items: baseline;
  height: 34px;
  padding: 0 10px;
  font-size: var(--default-text);
  border: 2px solid var(--border);
  border-radius: 4px;

  &.lg {
    height: 40px;
    font-size: var(--medium-text);
  }

  &:focus-within {
    border-color: var(--border-1);
  }

  &.error {
    border-color: var(--text-invalid);
  }
}

.input {
  height: 100%;
  text-overflow: ellipsis;
  background: none;
  appearance: textfield;

  &:focus {
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &-hasLeadingZero {
    margin-left: -1ch;
    padding-left: 1ch;
  }
}

.divider {
  padding: 0 1px;
  white-space: pre;
}
