.timePicker {
  --digit-width: 0.54em;
  --colon-width: 0.217em;
  // own padding + inputs padding + digits width + dots width
  // min-width: calc(4px * 3 + var(--digit-width) * 6 + var(--colon-width) * 2);
  box-sizing: content-box;
  display: flex;
  align-items: baseline;
  height: 34px;
  padding: 0 10px;
  font-size: var(--default-text);
  border: 2px solid var(--border);
  border-radius: 4px;

  &.lg {
    height: 40px;
    font-size: var(--medium-text);
  }

  &:focus-within {
    border-color: var(--border-1);
  }

  &.error:not(:focus-within) {
    border-color: var(--text-invalid);
  }
}

.input {
  // min-width: var(--digit-width);
  height: 100%;
  padding: 0 1px;
  font: inherit;
  background: none;
  border: 0;
  -moz-appearance: textfield;

  &:focus {
    outline: none;
  }

  &:invalid {
    background: fade(#f00, 10%);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  &--hasLeadingZero {
    margin-left: calc(var(--digit-width) * -1);
    padding-left: calc(1px + var(--digit-width));
  }
}

.divider {
  white-space: pre;
}
