@import "../utils/mixins";

.app {
  width: 100%;
  height: 100%;

  --header-height: 72px;

  &.sm {
    --header-height: 48px;
  }
}

.headerBtn {
  max-width: 200px;
  @include oneLineEllipsis;

  @media (max-width: 26.25em) {
    display: none;
  }
}

.content {
  position: relative;
  height: calc(100% - var(--header-height));
}
