.Main {
  text-align: center;
  height: 100vh;
}

.Main_logo {
  animation: Main-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Main_header {
  background-color: #282c34;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main_link {
  color: #61dafb;
}

.Main_content {
  height: 15%;
  display: flex;
  align-items: center;
}

.Main_counter {
  flex-grow: 1;
  margin-right: 20vmin;
}

.Main_buttons {
  flex-grow: 1;
}

.Main_buttons > button:not(:last-child) {
  margin-right: 7px;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
