@import '../../../service/styles/mixins';

.dateSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 46px;
  padding-right: 24px;
  padding-left: 24px;
}

.dateBtn {
  margin-right: 5px;
  margin-left: 5px;
  font-size: var(--medium-text);
  @include oneLineEllipsis;
}

.switchBtn {
  flex-shrink: 0;

  &.next {
    transform: rotate(180deg);
  }
}

.calendarContainer {
  position: absolute;

  .dateSwitch.lg ~ & {
    width: 100vw;

    .calendar {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
