@import '../../../service/styles/mixins';

.btn {
  display: inline-block;
  padding: 11px 16px;
  font-size: var(--default-text);
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  word-break: break-all;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out,
    box-shadow 0.2s ease-out;

  @include hyphenate;

  &:disabled {
    color: var(--text-inactive);
    pointer-events: none;
    background-color: var(--inactive);
  }

  &.lg {
    padding: 11px 24px;
    font-size: var(--medium-text);
  }
}

@mixin buttonColors($textColor, $defaultColor, $focusColor, $activeColor) {
  color: $textColor;
  background-color: $defaultColor;

  &:hover,
  &:focus {
    background-color: $focusColor;
  }

  &:active {
    background-color: $activeColor;

    @media (hover: none) and (pointer: coarse) {
      background-color: $focusColor;
    }
  }
}

.default {
  @include buttonColors(
    var(--text-primary),
    var(--secondary-1),
    var(--secondary-2),
    var(--secondary-3)
  );
}

.primary {
  @include buttonColors(
    var(--text-inverted),
    var(--primary-1),
    var(--primary-2),
    var(--primary-3)
  );
}

.borderless {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
  color: var(--text-primary);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--primary-1);
  }

  &:active {
    color: var(--primary-2);
  }
}

.danger {
  &:hover:not(.borderless),
  &:focus:not(.borderless) {
    color: var(--text-invalid);
    outline: none;
    box-shadow: 0 0 0 3px var(--text-invalid);
  }

  &.borderless {
    color: var(--text-invalid);
  }
}
