@import "../../../service/styles/mixins";

.floors {
  padding: 22px 0;
}

.floor:not(:last-of-type) {
  margin-bottom: 20px;
}

.floorName {
  margin-bottom: 4px;
  padding: 0 25px;
  font-size: var(--small-text);
  color: var(--text-secondary);
  @include oneLineEllipsis;

  .floors.lg & {
    margin-bottom: 6px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.room:not(:last-of-type) {
  margin-bottom: 6px;

  .floors.lg & {
    margin-bottom: 2px;
  }
}

.roomPlaceholder {
  width: var(--aside-desktop-width);
  color: var(--text-secondary);
  text-align: center;

  .floors.lg & {
    display: none;
  }
}
