.timesheet {
  --aside-desktop-width: 245px;
  display: grid;
  grid:
    "date hours" min-content
    "timeline timeline" auto
    / var(--aside-desktop-width) auto;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &.lg {
    --aside-mobile-width: 180px;
    grid:
      "date date" 46px
      "hours hours" 32px
      "timeline timeline" auto
      / var(--aside-mobile-width) auto;
  }
}

%headerBlock {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border);
}

.dateSwitch {
  @extend %headerBlock;
  grid-area: date;
  z-index: 3;

  .timesheet.lg & {
    left: 0;
    max-width: 100vw;
  }
}

.hours {
  @extend %headerBlock;
  grid-area: hours;
  left: var(--aside-desktop-width);

  .timesheet.lg & {
    top: 46px;
    left: 0;
    padding-left: var(--aside-mobile-width);
  }
}

.timelineContainer {
  position: relative;
  grid-area: timeline;
  min-width: 1000px;

  .timesheet.lg & {
    min-width: 1260px;
  }

  %placeholder {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
  }

  .asidePlaceholder {
    @extend %placeholder;
    left: 0;
    width: var(--aside-desktop-width);
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border);

    .timesheet.lg & {
      display: none;
    }
  }

  .timesheetPlaceholder {
    @extend %placeholder;
    left: var(--aside-desktop-width);
    width: calc(100% - var(--aside-desktop-width));
    background-color: var(--bg-secondary);

    .timesheet.lg & {
      left: 0;
      width: 100%;
    }
  }
}
