@import "../../../../service/styles/mixins";

.labelContainer {
  display: flex;
  align-items: center;
  @include oneLineEllipsis;
}

.iconContainer {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.value {
  margin-right: 15px;
  @include oneLineEllipsis;
}
