@import '../../../../service/styles/mixins';

.labelContainer {
  display: flex;
  align-items: center;
  @include oneLineEllipsis;

  &.lg {
    flex-grow: 1;
  }
}

.iconContainer {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;

  .labelContainer.lg & {
    width: 32px;
    height: 32px;
  }
}

.value {
  margin-right: 15px;
  @include oneLineEllipsis;
}
