.labelContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iconContainer {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.icon {
  border-radius: 50%;
}

.value {
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
