@mixin clearfix {
  display: block;
  clear: both;
  content: "";
}

.cardContainer {
  min-width: 320px;
  max-width: 100vw;
  padding: 16px;

  &.lg {
    font-size: var(--medium-text);
  }
}

.header {
  &::after {
    @include clearfix();
  }

  .cardContainer.cardContainer.lg & {
    margin-bottom: 8px;
  }

  & > :first-child {
    position: relative;
    top: -8px;
    right: -8px;
    float: right;
    margin-left: 10px;

    .cardContainer.lg & {
      position: static;
    }
  }
}

.header .title {
  font-size: var(--medium-text);
  font-weight: 700;
  word-break: break-all;

  .cardContainer.lg & {
    font-size: var(--large-text);
  }
}

.participants {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.iconContainer {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;

  .cardContainer.lg & {
    width: 32px;
    height: 32px;
  }
}

.icon {
  border-radius: 50%;
}

.name > span {
  color: var(--text-secondary);
}
