.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--secondary-1);
  border: none;
  border-radius: 50%;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &.lg {
    width: 32px;
    height: 32px;
  }
}

.icon {
  display: inline-block;
  opacity: 0.43;

  .btn:active & {
    opacity: 1;
  }

  .btn.lg & {
    transform: scale(1.2);
  }
}
