.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--icon-default);
  background-color: var(--secondary-1);
  border: none;
  border-radius: 50%;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:focus,
  &:hover,
  &:active {
    color: var(--icon-active);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &.lg {
    width: 32px;
    height: 32px;
  }
}

.icon {
  display: inline-block;

  .btn.lg & {
    transform: scale(1.2);
  }
}
