@import './service/styles/fonts';

:root {
  font-size: 0.8125em;

  --bg-primary: #fff;
  --bg-secondary: #f6f7f9;
  --text-primary: #000;
  --text-inverted: #fff;
  --text-secondary: #858e98;
  --text-invalid: #db4949;
  --text-inactive: rgba(0, 0, 0, 0.2);
  --large-text: 1.5384615385rem;
  --medium-text: 1.1538461538rem;
  --default-text: 1rem;
  --small-text: 0.8461538462rem;
  --primary-1: #007dff;
  --primary-2: #1d54fe;
  --primary-3: #1d00fe;
  --secondary-1: #e9ecef;
  --secondary-2: #dee0e3;
  --secondary-3: #c8cdd3;
  --inactive: #e2e5e8;
  --border: #e9ecef;
  --border-1: #007dff;
  --table-cell-primary-1: #fff;
  --table-cell-primary-2: #1d54fe;
  --table-cell-primary-3: #1d00fe;
  --table-cell-secondary-1: #d5dfe9;
  --table-cell-secondary-2: #99a9b9;
  --table-cell-secondary-3: #8594a2;
  --shadow-color: rgba(0, 44, 92, 0.28);
}

:disabled {
  cursor: not-allowed;
}

::placeholder {
  opacity: 1;
}

body {
  font-family: 'YS Text', 'Arial', sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strike,
strong,
b,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
aside,
header,
input {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

h1 {
  font-size: var(--large-text);
  font-weight: 700;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  border: none;
  appearance: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* stylelint-disable-next-line selector-max-id */
#root {
  width: 100vw;
  height: 100vh;
}

/* stylelint-disable declaration-no-important */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  white-space: nowrap !important;
  pointer-events: none !important;
  border: 0 !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/* stylelint-enable declaration-no-important */
